################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/ConsoleApplication1/.vs/ConsoleApplication1
/ConsoleApplication1/x64/Debug
/ConsoleApplication2/x64/Debug
/ConsoleApplication2/.vs/ConsoleApplication2
/Intel Edge/.vs
/Intel Edge/Debug
/Intel Edge/x64/Debug
/missionRect/.vs/missionRect
/missionRect/missionRect/x64/Debug
/missionRect/x64/Debug
/Intel Edge/ClassTest1
/Intel Edge/Student/x64/Debug
/bookmanager
/TemplateTest/x64/Debug/TemplateTest.tlog
/TemplateTest/x64/Debug
/Intel Edge/ArrTest/x64/Debug
/missionRect/missionShape/x64/Debug/missionShape.tlog
/missionRect/missionShape/x64/Debug
/codingTest/x64/Debug
/Intel Edge/ConsoleApplication1/x64/Debug
/WinApp/.vs/WinApp/FileContentIndex
/WinApp/MFCTest01/res
/WinApp/.vs/WinApp/v17
/WinApp/MFCTest01/x64/Debug/MFCTest01.tlog
/WinApp/MFCTest01/x64/Debug
/WinApp/WinTest01/x64/Debug
/WinApp/x64/Debug
/RasPi
/Intel Edge/RaspiFile/elevator5
/WinApp/.vs
/WinApp/mfcMemo/x64/Debug
/WinApp/mfcMemo/res
/WinFormCS/WinFormTest01_Base/bin/Debug
/WinFormCS/WinFormTest01_Base/obj/Debug/TempPE
/WinFormCS/WinFormTest01_Base/obj/Debug
/WinFormCS/WinFormTest01_Base/Properties
/WinFormCS/WinFormsTest02_DBM/bin/Debug
/WinFormCS/WinFormsTest02_DBM/obj/Debug
/WinFormCS/WinFormsTest02_DBM/Properties
/WinFormCS/WinFormsTest02_DBM/TestDB.mdf
/WinFormCS/WinFormsTest02_DBM/TestDB_log.ldf
/WinFormCS/WinFormTest03_Paint/bin/Debug
/WinFormCS/WinFormTest03_Paint/obj/Debug
/WinFormCS/WinFormTest03_Paint/Properties
/cFrmPrj01/.vs/cFrmPrj01/FileContentIndex
/cFrmPrj01/.vs/cFrmPrj01/v17
/cFrmPrj01/cFrmPrj01/bin/Debug
/cFrmPrj01/cFrmPrj01/obj/Debug
/cFrmPrj01/cFrmPrj01/Properties
/cFrmPrj01/packages/BouncyCastle.Cryptography.2.2.1/lib/net461
/cFrmPrj01/packages/BouncyCastle.Cryptography.2.2.1/lib/net6.0
/cFrmPrj01/packages/BouncyCastle.Cryptography.2.2.1/lib/netstandard2.0
/cFrmPrj01/packages/BouncyCastle.Cryptography.2.2.1
/cFrmPrj01/packages/Google.Protobuf.3.21.9/lib/net45
/cFrmPrj01/packages/Google.Protobuf.3.21.9/lib/net5.0
/cFrmPrj01/packages/Google.Protobuf.3.21.9/lib/netstandard1.1
/cFrmPrj01/packages/Google.Protobuf.3.21.9/lib/netstandard2.0
/cFrmPrj01/packages/Google.Protobuf.3.21.9
/cFrmPrj01/packages/K4os.Compression.LZ4.1.3.5/lib/net462
/cFrmPrj01/packages/K4os.Compression.LZ4.1.3.5/lib/net5.0
/cFrmPrj01/packages/K4os.Compression.LZ4.1.3.5/lib/net6.0
/cFrmPrj01/packages/K4os.Compression.LZ4.1.3.5/lib/netstandard2.0
/cFrmPrj01/packages/K4os.Compression.LZ4.1.3.5/lib/netstandard2.1
/cFrmPrj01/packages/K4os.Compression.LZ4.1.3.5
/cFrmPrj01/packages/K4os.Compression.LZ4.Streams.1.3.5/lib
/cFrmPrj01/packages/K4os.Compression.LZ4.Streams.1.3.5
/cFrmPrj01/packages/K4os.Hash.xxHash.1.0.8/lib
/cFrmPrj01/packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/lib
/cFrmPrj01/packages/K4os.Hash.xxHash.1.0.8
/cFrmPrj01/packages/Microsoft.Bcl.AsyncInterfaces.5.0.0
/cFrmPrj01/packages/MySql.Data.8.2.0/lib
/cFrmPrj01/packages/MySql.Data.8.2.0/runtimes/win-x64/native
/cFrmPrj01/packages/MySql.Data.8.2.0
/cFrmPrj01/packages/System.Buffers.4.5.1/lib
/cFrmPrj01/packages/System.Buffers.4.5.1/ref
/cFrmPrj01/packages/System.Buffers.4.5.1
/cFrmPrj01/packages/System.Configuration.ConfigurationManager.4.4.1/lib
/cFrmPrj01/packages/System.Configuration.ConfigurationManager.4.4.1/ref
/cFrmPrj01/packages/System.Configuration.ConfigurationManager.4.4.1
/cFrmPrj01/packages/System.Diagnostics.DiagnosticSource.7.0.2/buildTransitive
/cFrmPrj01/packages/System.Diagnostics.DiagnosticSource.7.0.2/lib
/cFrmPrj01/packages/System.Diagnostics.DiagnosticSource.7.0.2
/cFrmPrj01/packages/ZstdSharp.Port.0.7.1
/cFrmPrj01/packages/System.Threading.Tasks.Extensions.4.5.4/ref
/cFrmPrj01/packages/System.Threading.Tasks.Extensions.4.5.4/lib
/cFrmPrj01/packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib/netstandard2.0
/cFrmPrj01/packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib
/cFrmPrj01/packages/System.Threading.Tasks.Extensions.4.5.4
/cFrmPrj01/packages/System.Runtime.CompilerServices.Unsafe.6.0.0
/cFrmPrj01/packages/System.Numerics.Vectors.4.5.0/ref
/cFrmPrj01/packages/System.Numerics.Vectors.4.5.0
/cFrmPrj01/packages/System.Memory.4.5.5/ref/netcoreapp2.1
/cFrmPrj01/packages/System.Memory.4.5.5
/cFrmPrj01/packages/System.IO.Pipelines.5.0.2/ref/netcoreapp2.0
/cFrmPrj01/packages/System.IO.Pipelines.5.0.2
/cFrmPrj01/SmartFarm01/Properties
/cFrmPrj01/SmartFarm01/bin/Debug
/cFrmPrj01/SmartFarm01/obj/Debug
/cFrmPrj01/smartFarm02/bin/Debug
/cFrmPrj01/smartFarm02/obj/Debug
/cFrmPrj01/smartFarm02/Properties
/cFrmPrj01/WinFormsPrj01/bin/Debug
/cFrmPrj01/WinFormsPrj01/obj/Debug
/cFrmPrj01/WinFormsPrj01/Properties
/CnetGamePrj01/.vs/CnetGamePrj01/v17
/CnetGamePrj01/CnetGamePrj01/obj/Debug
/CnetGamePrj01/CnetGamePrj01/Properties
/prjSmartParm/.vs/projectTest/FileContentIndex
/prjSmartParm/.vs/projectTest/v17
/prjSmartParm/packages/BouncyCastle.Cryptography.2.2.1/lib
/prjSmartParm/packages/Google.Protobuf.3.21.9/lib
/prjSmartParm/packages/Google.Protobuf.3.21.9
/prjSmartParm/packages/BouncyCastle.Cryptography.2.2.1
/prjSmartParm/packages/K4os.Compression.LZ4.1.3.5/lib
/prjSmartParm/packages/K4os.Compression.LZ4.1.3.5
/prjSmartParm/packages/K4os.Compression.LZ4.Streams.1.3.5/lib
/prjSmartParm/packages/K4os.Compression.LZ4.Streams.1.3.5
/prjSmartParm/packages/K4os.Hash.xxHash.1.0.8/lib
/prjSmartParm/packages/K4os.Hash.xxHash.1.0.8
/prjSmartParm/packages/Microsoft.Bcl.AsyncInterfaces.5.0.0/lib
/prjSmartParm/packages/Microsoft.Bcl.AsyncInterfaces.5.0.0
/prjSmartParm/packages/MySql.Data.8.2.0/lib
/prjSmartParm/packages/MySql.Data.8.2.0/runtimes/win-x64/native
/prjSmartParm/packages/MySql.Data.8.2.0
/prjSmartParm/packages/System.Buffers.4.5.1/lib
/prjSmartParm/packages/System.Buffers.4.5.1/ref
/prjSmartParm/packages/System.Buffers.4.5.1
/prjSmartParm/packages/System.Configuration.ConfigurationManager.4.4.1/lib
/prjSmartParm/packages/System.Configuration.ConfigurationManager.4.4.1/ref
/prjSmartParm/packages/System.Configuration.ConfigurationManager.4.4.1
/prjSmartParm/packages/System.Diagnostics.DiagnosticSource.7.0.2/buildTransitive
/prjSmartParm/packages/System.Diagnostics.DiagnosticSource.7.0.2/lib
/prjSmartParm/packages/System.Diagnostics.DiagnosticSource.7.0.2
/prjSmartParm/packages/System.IO.Pipelines.5.0.2/lib
/prjSmartParm/packages/System.IO.Pipelines.5.0.2/ref/netcoreapp2.0
/prjSmartParm/packages/System.IO.Pipelines.5.0.2
/prjSmartParm/packages/System.Memory.4.5.5/lib
/prjSmartParm/packages/System.Memory.4.5.5/ref/netcoreapp2.1
/prjSmartParm/packages/System.Memory.4.5.5
/prjSmartParm/packages/System.Numerics.Vectors.4.5.0/lib
/prjSmartParm/packages/System.Numerics.Vectors.4.5.0/ref
/prjSmartParm/packages/System.Numerics.Vectors.4.5.0
/prjSmartParm/packages/System.Runtime.CompilerServices.Unsafe.6.0.0/buildTransitive
/prjSmartParm/packages/System.Runtime.CompilerServices.Unsafe.6.0.0/lib
/prjSmartParm/packages/System.Runtime.CompilerServices.Unsafe.6.0.0
/prjSmartParm/packages/System.Threading.Tasks.Extensions.4.5.4/lib
/prjSmartParm/packages/System.Threading.Tasks.Extensions.4.5.4/ref
/prjSmartParm/packages/System.Threading.Tasks.Extensions.4.5.4
/prjSmartParm/packages/ZstdSharp.Port.0.7.1/lib
/prjSmartParm/packages/ZstdSharp.Port.0.7.1
/prjSmartParm/projectTest/.vs
/prjSmartParm/projectTest/bin/Debug
/prjSmartParm/projectTest/obj/Debug/TempPE
/prjSmartParm/projectTest/obj/Debug
/prjSmartParm/projectTest/Properties
