################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/ConsoleApplication1/.vs/ConsoleApplication1
/ConsoleApplication1/x64/Debug
/ConsoleApplication2/x64/Debug
/ConsoleApplication2/.vs/ConsoleApplication2
/Intel Edge/.vs
/Intel Edge/Debug
/Intel Edge/x64/Debug
/missionRect/.vs/missionRect
/missionRect/missionRect/x64/Debug
/missionRect/x64/Debug
/Intel Edge/ClassTest1
/Intel Edge/Student/x64/Debug
/bookmanager
/TemplateTest/x64/Debug/TemplateTest.tlog
/TemplateTest/x64/Debug
/Intel Edge/ArrTest/x64/Debug
/missionRect/missionShape/x64/Debug/missionShape.tlog
/missionRect/missionShape/x64/Debug
/codingTest/x64/Debug
/Intel Edge/ConsoleApplication1/x64/Debug
/WinApp/.vs/WinApp/FileContentIndex
/WinApp/MFCTest01/res
/WinApp/.vs/WinApp/v17
/WinApp/MFCTest01/x64/Debug/MFCTest01.tlog
/WinApp/MFCTest01/x64/Debug
/WinApp/WinTest01/x64/Debug
/WinApp/x64/Debug
/RasPi
/Intel Edge/RaspiFile/elevator5
/WinApp/.vs
/WinApp/mfcMemo/x64/Debug
/WinApp/mfcMemo/res
/WinFormCS/WinFormTest01_Base/bin/Debug
/WinFormCS/WinFormTest01_Base/obj/Debug/TempPE
/WinFormCS/WinFormTest01_Base/obj/Debug
/WinFormCS/WinFormTest01_Base/Properties
/WinFormCS/WinFormsTest02_DBM/bin/Debug
/WinFormCS/WinFormsTest02_DBM/obj/Debug
/WinFormCS/WinFormsTest02_DBM/Properties
