################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/ConsoleApplication1/.vs/ConsoleApplication1
/ConsoleApplication1/x64/Debug
